.env
data/
SentimentAnalysis/OldSentimentAnalysis/outputs/
SentimentAnalysis/OldSentimentAnalysis/SECData/
SentimentAnalysis/OldSentimentAnalysis/filtered_analyst_ratings.csv
SentimentAnalysis/data/
SentimentAnalysis/outputs/